.btn {
  display: inline-block;
  vertical-align: middle;

  padding: 1.25rem 2.5rem;
  margin-bottom: .625rem;

  font-weight: 600;
  font-size: 110%;

  background-color: transparent;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  text-transform: uppercase;

  outline: none;
  background: transparent;

  transition: 1s;

  background-color: #3797c7;
  color: #ffffff;

  &:focus,
  &:hover {
    background-color: #175e82;
    cursor: pointer;
  }

  &--circle {
    padding: 1.5rem 2rem;
    border-radius: 50%;
  }
  &--full {
    display: block;
    width: 100%;
    text-align: center;
  }
}
