.links {
  &__item {
    text-decoration: none;
  }
}

.links-dowload {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .625rem;
    padding: .625rem;
    width: 13.125rem;
    height: 4.0625rem;
    background-color: #000000;
    border-radius: .625rem;

}
  &__icon {
    width: 30%;
    &:first-child {
      fill: #ffffff;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: .75rem;
    color: #ffffff;
  }
  &__title {
    font-size: 1rem;
    font-weight: 600;
  }
}
