.nav-footer {
  padding: 1.25rem 0.9375rem 0.625rem;
  box-shadow: 0 -5px 5px -5px #333;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: block;
  }
  &__icon {
    fill: #b3b3b3;
  }
}

.nav-footer__link:hover .nav-footer__icon {
  fill: #3797c7;
}
