.navigation {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 5px 5px -5px #333;
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
}

.navigation--closed .navigation__toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.navigation--opened .navigation__toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 5;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__list li {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 1.25rem;
}

.navigation__list a {
  display: block;
  padding: .625rem;
  line-height: normal;
  text-decoration: none;

  line-height: normal;
  font-weight: bold;

  @include ff(
    'font-size',
    (
      767px: 13px,
      768px: 10px,
      1280px: 15px,
      1800px: 17px,
    )
  );
  line-height: 100%;
  text-align: left;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 47.9375rem) {
  .navigation--closed .navigation__list {
    height: 60px;
    visibility: hidden;
  }

  .navigation--closed .js-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
  }

  .navigation--closed .navigation__wrapper {
    position: relative;
    min-height: 60px;
  }

  .navigation--nojs .navigation__wrapper {
    position: static;
  }

  .navigation.navigation--opened .navigation__wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
  }

  .navigation.navigation--opened .navigation__list {
    display: block;
    height: auto;

    padding: 2.5rem .9375rem;

    justify-content: flex-start;

    & .navigation__list li {
      margin-bottom: .625rem;
      padding: .625rem .625rem .625rem 1.25rem;
    }

    & .navigation__list a {
      font-size: 16px;
      color: #ffffff;
      text-align: left;
    }
  }

  .navigation--nojs .js-logo {
    position: relative;
  }
}

@media (min-width: $tableWidth) {
  .navigation__wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .navigation__list {
    position: relative;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navigation__list li {
    display: block;
    animation-name: navItemtop;
    animation-duration: 1s;
    margin-right: 1.25rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list a {
    padding: 16px 0;
  }

  .navigation__list li {
    width: auto;
    height: auto;
    border-bottom-color: transparent;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktopWidth) {
  .navigation__wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__list li {
    display: block;
    animation-name: navItemtop;
    animation-duration: 1s;
    margin-right: 20px;
  }
}

.navigation .navigation__list li.logo {
  display: block;

  @media (min-width: $tableWidth) {
    display: block;
  }
}

.navigation .logo {
  display: none;
}

@media (max-width: 768px) {
  .navigation .logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 60px;
  }
}
