.page-main {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 4.5rem * 2);
  height: auto;
  margin-bottom: 5rem;
  padding: .9375rem 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 .9375rem;
  }
  &__title {
    font-size: 160%;
    text-align: center;

  }
  &__text {
    text-align: center;
  }
}
