
.py-md-7 {
  @media (min-width: 768px) {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}

.py-xl-7 {
  @media (min-width: 1200px) {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}

.px-lg-7 {
  @media (min-width: 1800px) {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}
