// Fonts here
@font-face {
  font-family: $mainFont;
  font-display: auto;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
